<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
	  <meta charset="UTF-8">
	  <title> Phone Centric Web Registration System </title>
	  <link rel="stylesheet" href='{% static "css/reset.css" %}'>
	  <link rel="stylesheet" href='{% static "css/style.css" %}' media="screen" type="text/css" />
	</head>

	<body>
	  <div class="wrap">
			<div class="avatar">
	      <img src='{% static "img/logo.png" %}'>
	      	</div>
			<input type="name" placeholder="Name" required>
			<div class="bar">
			<i></i>

			</div>
			<input type="phone" placeholder="Mobile Number" required>
			<div class="bar">
				<i></i>
			</div>
			<input type="course" placeholder="Course" required>
			<a href="courselist.html" class="find_course">find?</a>
			<button>Submit</button>
		</div>
	  <script src="js/index.js"></script>
	</body>

</html>