<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>CodePen - Login </title>

  <link rel="stylesheet" href="css/reset.css">

    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />

</head>

<body>

  <div class="wrap">
		<div class="avatar">
      <img src="logo.png">
      	</div>
		<input type="name" placeholder="Name" required>
		<div class="bar">
		<i></i>

		</div>
		<input type="phone" placeholder="Mobile Number" required>
		<div class="bar">
			<i></i>
		</div>
		<input type="course" placeholder="Course" required>
		<button>Submit</button>
	</div>

  <script src="js/index.js"></script>

</body>

</html>